/* Responsive Design */

@media only screen and (max-width: 1000px) {

    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .title {
        text-align: center;
        justify-content: center;
        padding-right: 10%;
    }

    .nav {
        text-align: center;
        justify-content: center;
        padding-right: 10%;
    }

    .nav span {
        padding-right: 3%;
    }

    .favicon {
        display: flex;
        font-size: 20px;
    }
    
    .favicon a {
        margin: 0 auto;
        padding: 0px;
    }

    .facebook {
        padding-left: 10%;
    }

    .linkedin {
        padding-right: 10%;
    }


}


/* Universal Stylings*/

html {
    background-image: url(../MainImage.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    color: seashell;
}

a {
    text-decoration: none;
    color: black;
}



/* Header Section */

header {
    display: flex;
    justify-content: space-around;
    margin: auto;
    border-bottom: 2px solid seashell;
    background-color: black;
}

header h1 {
    width: 400px;
    padding-left: 30px;
}

header nav {
    width: 300px;
    font-size: 25px;
    margin-top: 8%;
    text-align: right;
}

header a {
    text-decoration: none;
    color: seashell;
    transition: background-color 1s;
}

header a:hover {
    background-color: grey;
}

.nav {
    justify-content: right;
}

.title {
    justify-content: left;
}


/*Top Block Section*/

.TopBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: auto;
    margin-top: 40px;
    background-color: lightskyblue;
    color: black;
    padding: 5px;
    border-radius: 20px;
}

.follow h2 {
    text-align: center;
}

.favicon {
    display: flex;
    font-size: 60px;
}

.favicon a {
    margin: 0 1em 0 1em;
    padding: 20px;
}


/* Bottom Block Section */

.BottomBlock {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: lightskyblue;
    color: black;
    padding: 5px;
    border-radius: 20px;
}

.left {
    width: 50%;
    padding-right: 5%;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
}

.left {
    border-right: 2px solid black;
}

.photo {
    transition: background-color 1s;
    padding: 5px;
    border-radius: 20px;
}

.sound {
    transition: background-color 1s;
    padding: 5px;
    border-radius: 20px;
}

.photo:hover {
    background-color: grey;
}

.sound:hover {
    background-color: grey;
}

/* Footer Section */

.footer {
    color: black;
    border-top: 2px solid black;
}