/* Responsive Design */

/* Universal Stylings*/

html {
    background-image: url(../MainImage.jpg);
    background-size: cover;
}

body {
    color: seashell;
    font-family: 'Roboto Condensed', sans-serif;
}



/* Header Section */

header {
    display: flex;
    justify-content: space-around;
    margin: auto;
    border-bottom: 2px solid seashell;
    background-color: black;
}

header h1 {
    width: 400px;
    padding-left: 30px;
}

header nav {
    width: 300px;
    font-size: 25px;
    margin-top: 8%;
    text-align: right;
}

header a {
    text-decoration: none;
    color: seashell;
    transition: background-color 1s;
}

header a:hover {
    background-color: grey;
}

.nav {
    justify-content: right;
}

.title {
    justify-content: left;
}



/* Resume Section */

.resume {
    width: 80%;
    margin: auto;
    margin-top: 40px;
    background-color: lightskyblue;
    color: black;
    padding: 5px;
    border-radius: 20px;
}

.work {
    width: 80%;
    margin: auto;
    margin-top: 40px;
    background-color: lightskyblue;
    color: black;
    padding: 5px;
    border-radius: 20px;
}

.skills {
    width: 80%;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px; 
    background-color: lightskyblue;
    color: black;
    padding: 5px;
    border-radius: 20px;
}

.title {
    text-align: center;
}

.education {
    font-weight: bold;
    text-decoration: underline;
}

.workex {
    text-decoration: underline;
}

/* Footer Section */

.footer {
    color: black;
    border-top: 2px solid black;
}